@media screen and (min-width: 1150px) {
.limit{
	margin:auto;	
	float:none !important;
}

}
@media screen and (max-width: 1200px) {
	#topnav #rest a{
		text-decoration:none;
		color:#E7E8E8;
		margin-right:2%;
		font-size:12pt;
		float:right;
   }
	#downloadIcon{		
		font-size:50pt;
		
	}
	#lightBack{
		width:50% !important;
	}
	#demoVid{
		width:100%;
		margin-left: 0%;
		margin-top: 25px;
		height:auto;
		float:left;
	}	
}

@media screen and (max-width: 857px) {
	#topnav #rest a{
		text-decoration:none;
		color:#E7E8E8;
		margin-right:1.5%;
		font-size:12pt;
		float:right;
	}
	#rest{
		width:100%;
		margin-right:0%;
	}
	#logo{
		display:none;
	}
	#lightBack{
		width:80% !important;
	}
	.proThumb{

		margin:0.5%;
		width:49%;
	
	}
	 #leftWright{
		width:100%;


	}
	#rightWright{
		margin-top: 12pt;
		width:100%;

	}
	#Contact #leftWright{
		width:48%;


	}
	#Contact #rightWright{
		width:48%;
		margin-top: 0pt;

	}
	
	.small{
		display: block;
	}
	.big{
		display: none;
	}
	#line{
		font-size:25pt;
	}
	#downloadIcon{		
		font-size:30pt;
		
	}
}

