#page{
	width:100%;
	background-color:#fdfdfd;
	float:left;

}

.pagePart{
	width:100%;
	padding-top:40px;
	background-color:#fdfdfd;
	float:left;
}



h2{
	font-family: Century;
	font-size: 25pt;
	text-align: center;
	width:100%;
	float:left;
	font-weight: normal;
	margin: 40px 0px 20px 0px;
	color:#333;
}

#docLink{
	width:50%;
	float:left;
	text-align:center;
	font-size: 22pt;
	font-family: Century;
	background-color: #60C4B9;
	color: #E7E8E8;	
	margin:20px 25% 10px 25%;
	border-radius: 5px;
	text-decoration:none;
}
#docLink:hover{
	-webkit-animation: download 1s;
    animation: download 1s;
	color:#3D4142;
}
#demoVid{
	
	width:94%;
	margin-left: 3%;
	margin-top: 25px;
	height:auto;
	float:left;
}

#Projects h2{
	margin-bottom: 30px;
}
#Projects a{
	width:50%;
	float:left;
	text-align:center;
	font-size: 22pt;
	font-family: Century;
	background-color: #60C4B9;
	color: #E7E8E8;	
	margin:10px 25% 10px 25%;
	border-radius: 5px;
	text-decoration:none;
	
}
#Projects a:hover{
	-webkit-animation: download 1s;
    animation: download 1s;
	color:#3D4142;
}
.proThumb{
	float: left;
	margin:0.5%;
	width:24%;
	background-color: #333;
	height:100px;
}
.proThumb:hover{
	background-color: #60C4B9;
	
}

#Contact{
	background-color: #222222!important;
	margin-top:20px !important;
}
#Contact h2{
	color:#fdfdfd;
	font-weight: thin;
	margin-top:-10px;
}
#Contact p{
	color:#fdfdfd;
	font-weight:thin;
	font-size: 10pt;
}
#Contact #writing{
	margin-bottom: 30pt;
}

#Contact #leftWright{
	text-indent: 0px ;
	text-align: left;
	line-height: 10pt;
}
#Contact #rightWright{
	text-indent: 0px ;
	text-align: right;
	line-height: 10pt;
}
