#splash{
	display:table;
	overflow:hidden;
	margin:0px auto;
	background-color:#fcfcfc;
}

#container{
	display:table-cell;
	
}

#splash{
	height:100%;
	width:96%;
	background-size: cover;
	/*background-image: url('../img/hi.jpg')*/
}
.perc{
	margin:5%;
}
.lefter{
	width:70%;
	font-size:80pt;
	float:left;
	border-bottom:2px solid #dfdfdf;
	text-align:left;
	color:#ccc;
	font-family: BaronNeue;
	padding-bottom:25px;
}
.righter{
	border-top:2px solid #dfdfdf;	
	width:70%;
	font-size:80pt;
	color:#ccc;
	float:right;
	text-align:right;
	font-family: BaronNeue;
}

.object{
	
	font-size:80pt;
	float:left;
	width:100%;
	text-align: center;
	font-family: Make;
	color:#dfdfdf;
	margin-top: 20px !important;
	margin-top: 20px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;


   
   text-shadow:
       1px 1px 0 #bf0796,
     -1px -1px 0 #bf0796;
	
	-webkit-animation: geo 10s infinite;
    animation: geo 10s infinite;

}
.bottom{
	font-size: 30pt !important;	
	padding-bottom: 15pt;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes geo {
   0% {
    	color:#ffa4f5;
    }
    50% {
    	color:#ffd9fb;
    }
    100%{
    	color:#ffa4f5;
    }
}

/* Standard syntax */
@keyframes geo {
   0% {
    	color:#ffa4f5;
    }
    50% {
    	color:#ffd9fb;
    }
    100%{
    	color:#ffa4f5;
    }
}


#topnav{
	width:100%;
	color:#333;
	float:left;
	text-align:center;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	position: absolute; bottom: 0; left: 0;
	padding-bottom: 10px;
}
#topnav a{
	text-decoration:none;
	color:#333;
	width:20%;
	font-size:18pt;
	margin: 0px 8% 0px 8%;

}
#topnav a:hover{
	color:#dfdfdf;
}

.small{
	display: none;
}