#splash{
	display:table;
	overflow:hidden;
	margin:0px auto;
	background-color:#fcfcfc;
}

#container{
	display:table-cell;
	
}

#splash{
	height:100%;
	width:100%;
	background-size: cover;
	background-image: url('../img/Cover.jpg');
}

#topnav{
	width:100%;
	color:#333;
	float:left;
	text-align:center;
	font-family: Century/*Futura, "Trebuchet MS", Arial, sans-serif*/;	
	padding-bottom: 10px;
	margin-top:30px;
	position:static;
	background:none;
}
#topnav #rest a{
	text-decoration:none;
	color:#E7E8E8;
	margin-right:5%;
	font-size:12pt;
	float:right;
}
#topnav #rest a:hover{
	color: #60C4B9;	
}
#rest{
	float:right;
	width:61%;
	margin-right:8%;
}
#logo{
	width:21%;
	float: left !important;
	margin-left:8%;
}
#lightBack{
	width:40% !important;
}
#logo img{
	width:50%;
	float:left;
	margin-left: 5%;
	margin-top:-15px;
}

#downArrow{
	width:100%;
	text-align:center;
	text-decoration:none;	
	position: absolute; bottom: 0; left: 0;
	padding-bottom: 10px;
	font-size:25pt;
	font-family:Make;
	color:#E7E8E8;
	background-color:rgba(255, 255, 255, 0.0);
}
#downArrow:hover{
	color:#60C4B9;	
	background-color:rgba(255, 255, 255, 0.2);
	-webkit-animation: more 1s;
    animation: more 1s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes more {
    from {color:#E7E8E8; background-color:rgba(255, 255, 255, 0.0);}
    to {color:#60C4B9;	background-color:rgba(255, 255, 255, 0.2);}
}

/* Standard syntax */
@keyframes more {
    from {color:#E7E8E8; background-color:rgba(255, 255, 255, 0.0);}
    to {color:#60C4B9;	background-color:rgba(255, 255, 255, 0.2);}
}


#downloadIcon{
	font-family:Century;
	font-size:20pt !important;;
	text-align: center;
	width:100%;
	float:left;
	text-decoration: none;
	margin: 5px 0px 0px 0px;
	cursor:default;
	color:#E7E8E8;
}