<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <!--
    <system.serviceModel>
      <bindings>
        <netPeerTcpBinding>
          <binding name="ReactiveSpacesBinding">
            <security mode="None" />
            <resolver mode="Pnrp"/>
          </binding>
        </netPeerTcpBinding>
      </bindings>
      <services>
        
        <service name="RSNetworker.Networker">
          <host>
            <baseAddresses>
              <add baseAddress="net.p2p://ReactiveSpaces"/>
            </baseAddresses>
          </host>
          
          <endpoint name="ReactiveSpaces"
                    address=""
                    binding="netPeerTcpBinding" 
                    bindingConfiguration="ReactiveSpacesBinding" 
                    contract="RSNetworker.IRSNetworker" />
        </service>
      </services>
      <client>
        <endpoint name="ReactiveSpacesEndpoint"
                  address="net.p2p://ReactiveSpaces"
                  binding="netPeerTcpBinding"
                  bindingConfiguration="ReactiveSpacesBinding"
                  contract="RSNetworker.IRSNetworker"
                  />
      </client>
    </system.serviceModel>
-->
</configuration>